*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
}
.menu{
    margin: 30px;
    list-style: none;
    float: right;
    
}
.menu ul li{
    list-style: none;
    float: left;
    padding: 20px;
    

}